<div class="component h-100">

    <div class="card-header">

        Distribución del vivero

    </div>

    <div class="card-body">

        <canvas
            id="gardenDistribution"
            height="260"

            data-labels='[
            {% for item in dashboard.distribucion %}
                "{{ item.nombre }}"{% if not loop.last %},{% endif %}
            {% endfor %}
            ]'

            data-values='[
            {% for item in dashboard.distribucion %}
                {{ item.plantas }}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]'>

        </canvas>

    </div>

</div>