{% extends "layouts/base.html" %}

{% block title %}
Especies | Métricas Verdes
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="fw-bold">
                Especies
            </h2>

            <p class="text-muted mb-0">
                Consulta y gestiona todas las especies registradas.
            </p>

        </div>
    </div>
    
    <div>
        {% include "components/especies/card.html" %}
    </div>

    <div>
        {% include "components/especies/table.html" %}
    </div>
    
    {% include "components/especies/modal.html" %}

</div>

{% endblock %}