<div
    class="modal fade"
    id="medicionPlModal"
    tabindex="-1"
    aria-labelledby="medicionPlModalLabel"
    aria-hidden="true"
>

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5
                    class="modal-title"
                    id="medicionPlModalLabel"
                >
                    Registrar medicion planta
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>

            </div>

            <div class="modal-body">

                {% include "components/medicion_plantas/crear.html" %}

            </div>

        </div>

    </div>

</div>